[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
pytest = "*"
unittest2 = "*"
psycopg2 = "*"
pre-commit = "*"
black = "*"
click = "*"
pillow = "*"
whitenoise = "==0.13"

[dev-packages]

[requires]
python_version = "3.9"
